.slot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;
  margin-top: 20px;
  max-width: 500px;
}


 
.slot-box {

  width: 80px;

  height: 80px;

  border-radius: 18px;

  font-weight: bold;

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

}
 
.available {

  background-color: #4CAF50;  /* Green */

}
 
.booked {

  background-color: #F44336;  /* Red */

}
 